# OpenAI API Key
OPENAI_API_KEY=

# Gemini API Key
GEMINI_API_KEY=

# Vertex AI API Key
VERTEX_AI_API_KEY=

# Google Cloud Project ID
GCP_PROJECT_ID=

# Google Cloud Location (optional, defaults to us-central1)
GCP_LOCATION=

# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
