flask
flask-cors
python-dotenv
google-genai
pillow
opencv-python
pdfplumber
PyMuPDF
supabase
cloudinary
requests
gunicorn
livekit-agents[silero,turn-detector]
livekit-plugins-noise-cancellation
av==17.0.0
