google-cloud-vision
pillow
opencv-python
pdfplumber
PyMuPDF
flask
flask-cors
cffi
openai
google-generativeai
google-cloud-aiplatform
python-dotenv
supabase
cloudinary
requests
gunicorn
livekit-agents[silero,turn-detector]
livekit-plugins-noise-cancellation
av==17.0.0
pytesseract==0.3.13